<% include ./partials/header.ejs %>

<div class="w-full  bg-zinc-800 px-10 py-8 text-white">
  <div class="cards w-full justify-center  flex flex-wrap gap-10">
    <% posts.forEach(function(elem) { %>
    <div class="card w-32">

       <p class="mb-2"> <%= posts.user %> </p>


      <div class="w-full h-40 bg-sky-200 rounded-lg overflow-hidden">
        <!-- Use interpolation to include the dynamic card ID in the URL -->
        <img
          class="h-full w-full object-cover"
          src="/images/uploads/<%= elem.image %>"
          alt=""
        />
      </div>
      <h5 class="mt-2 text-sm"><%= elem.title %></h5>
    </div>
    <% }); %>

 
      <% data.forEach(function(elem) { %>
      <div class="card w-32">
        <div class="w-full h-40 bg-sky-200 rounded-lg overflow-hidden">
          <img
            class="h-full w-full object-cover imges"
            src="<%= elem.download_url %>"
            alt=""
          />
        </div>
        <h5 class="mt-2 text-sm"><%= elem.author %></h5>
      </div>
      <% }); %>
    

    <% include ./partials/footer.ejs %>
  </div>
</div>
